            <style id="custom-css" type="text/css">:root {
            --primary-color: #000000;
        }
        
        .header-main {
            height: 100px
        }
        
        #logo img {
            max-height: 100px
        }
        
        #logo {
            width: 200px;
        }
        
        .header-bottom {
            min-height: 47px
        }
        
        .header-top {
            min-height: 30px
        }
        
        .has-transparent+.page-title:first-of-type,
        .has-transparent+#main>.page-title,
        .has-transparent+#main>div>.page-title,
        .has-transparent+#main .page-header-wrapper:first-of-type .page-title {
            padding-top: 150px;
        }
        
        .header.show-on-scroll,
        .stuck .header-main {
            height: 70px !important
        }
        
        .stuck #logo img {
            max-height: 70px !important
        }
        
        .search-form {
            width: 70%;
        }
        
        .header-bg-color,
        .header-wrapper {
            background-color: rgba(0, 0, 0, 0.9)
        }
        
        .header-bottom {
            background-color: #000000
        }
        
        .stuck .header-main .nav>li>a {
            line-height: 50px
        }
        
        .header-bottom-nav>li>a {
            line-height: 14px
        }
        
        @media (max-width: 549px) {
            .header-main {
                height: 70px
            }
            #logo img {
                max-height: 70px
            }
        }
        
        .nav-dropdown {
            font-size: 100%
        }
        /* Color */
        
        .accordion-title.active,
        .has-icon-bg .icon .icon-inner,
        .logo a,
        .primary.is-underline,
        .primary.is-link,
        .badge-outline .badge-inner,
        .nav-outline>li.active>a,
        .nav-outline>li.active>a,
        .cart-icon strong,
        [data-color='primary'],
        .is-outline.primary {
            color: #000000;
        }
        /* Color !important */
        
        [data-text-color="primary"] {
            color: #000000 !important;
        }
        /* Background Color */
        
        [data-text-bg="primary"] {
            background-color: #000000;
        }
        /* Background */
        
        .scroll-to-bullets a,
        .featured-title,
        .label-new.menu-item>a:after,
        .nav-pagination>li>.current,
        .nav-pagination>li>span:hover,
        .nav-pagination>li>a:hover,
        .has-hover:hover .badge-outline .badge-inner,
        button[type="submit"],
        .button.wc-forward:not(.checkout):not(.checkout-button),
        .button.submit-button,
        .button.primary:not(.is-outline),
        .featured-table .title,
        .is-outline:hover,
        .has-icon:hover .icon-label,
        .nav-dropdown-bold .nav-column li>a:hover,
        .nav-dropdown.nav-dropdown-bold>li>a:hover,
        .nav-dropdown-bold.dark .nav-column li>a:hover,
        .nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
        .is-outline:hover,
        .tagcloud a:hover,
        .grid-tools a,
        input[type='submit']:not(.is-form),
        .box-badge:hover .box-text,
        input.button.alt,
        .nav-box>li>a:hover,
        .nav-box>li.active>a,
        .nav-pills>li.active>a,
        .current-dropdown .cart-icon strong,
        .cart-icon:hover strong,
        .nav-line-bottom>li>a:before,
        .nav-line-grow>li>a:before,
        .nav-line>li>a:before,
        .banner,
        .header-top,
        .slider-nav-circle .flickity-prev-next-button:hover svg,
        .slider-nav-circle .flickity-prev-next-button:hover .arrow,
        .primary.is-outline:hover,
        .button.primary:not(.is-outline),
        input[type='submit'].primary,
        input[type='submit'].primary,
        input[type='reset'].button,
        input[type='button'].primary,
        .badge-inner {
            background-color: #000000;
        }
        /* Border */
        
        .nav-vertical.nav-tabs>li.active>a,
        .scroll-to-bullets a.active,
        .nav-pagination>li>.current,
        .nav-pagination>li>span:hover,
        .nav-pagination>li>a:hover,
        .has-hover:hover .badge-outline .badge-inner,
        .accordion-title.active,
        .featured-table,
        .is-outline:hover,
        .tagcloud a:hover,
        blockquote,
        .has-border,
        .cart-icon strong:after,
        .cart-icon strong,
        .blockUI:before,
        .processing:before,
        .loading-spin,
        .slider-nav-circle .flickity-prev-next-button:hover svg,
        .slider-nav-circle .flickity-prev-next-button:hover .arrow,
        .primary.is-outline:hover {
            border-color: #000000
        }
        
        .nav-tabs>li.active>a {
            border-top-color: #000000
        }
        
        .widget_shopping_cart_content .blockUI.blockOverlay:before {
            border-left-color: #000000
        }
        
        .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
            border-left-color: #000000
        }
        /* Fill */
        
        .slider .flickity-prev-next-button:hover svg,
        .slider .flickity-prev-next-button:hover .arrow {
            fill: #000000;
        }
        /* Background Color */
        
        [data-icon-label]:after,
        .secondary.is-underline:hover,
        .secondary.is-outline:hover,
        .icon-label,
        .button.secondary:not(.is-outline),
        .button.alt:not(.is-outline),
        .badge-inner.on-sale,
        .button.checkout,
        .single_add_to_cart_button,
        .current .breadcrumb-step {
            background-color: #83000b;
        }
        
        [data-text-bg="secondary"] {
            background-color: #83000b;
        }
        /* Color */
        
        .secondary.is-underline,
        .secondary.is-link,
        .secondary.is-outline,
        .stars a.active,
        .star-rating:before,
        .woocommerce-page .star-rating:before,
        .star-rating span:before,
        .color-secondary {
            color: #83000b
        }
        /* Color !important */
        
        [data-text-color="secondary"] {
            color: #83000b !important;
        }
        /* Border */
        
        .secondary.is-outline:hover {
            border-color: #83000b
        }
        
        body {
            font-size: 100%;
        }
        
        @media screen and (max-width: 549px) {
            body {
                font-size: 100%;
            }
        }
        
        body {
            font-family: "Roboto", sans-serif
        }
        
        body {
            font-weight: 0
        }
        
        body {
            color: #000000
        }
        
        .nav>li>a {
            font-family: "Roboto", sans-serif;
        }
        
        .nav>li>a {
            font-weight: 700;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font,
        .off-canvas-center .nav-sidebar.nav-vertical>li>a {
            font-family: "Roboto", sans-serif;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font,
        .banner h1,
        .banner h2 {
            font-weight: 700;
        }
        
        .alt-font {
            font-family: "Roboto", sans-serif;
        }
        
        .alt-font {
            font-weight: 0 !important;
        }
        
        .badge-inner.on-sale {
            background-color: #ffffff
        }
        
        .badge-inner.new-bubble {
            background-color: #83000b
        }
        
        ins .woocommerce-Price-amount {
            color: #dd3333;
        }
        
        @media screen and (min-width: 550px) {
            .products .box-vertical .box-image {
                min-width: 200px !important;
                width: 200px !important;
            }
        }
        
        .footer-1 {
            background-color: #0a0a0a
        }
        
        .footer-2 {
            background-color: #0a0a0a
        }
        
        .absolute-footer,
        html {
            background-color: #000000
        }
        
        button[name='update_cart'] {
            display: none;
        }
        /* Custom CSS */
        
        #tab-description a {
            color: #1e90ff;
        }
        
        #top-bar {
            background-color: black;
        }
        
        .widget_nav_menu ul li {
            font-size: 90%;
            text-transform: none;
            font-weight: normal;
        }
        
        .widget_nav_menu ul li a {
            color: #fff ! important;
        }
        
        .tx-div {
            display: block;
            height: 1px;
            background-color: #000000;
            opacity: 0.7;
            margin: 15px 0 15px;
        }
        
        .dark-header #masthead .social-icons .icon {
            color: black;
        }
        
        .dark-header #masthead .social-icons a.icon {
            border-color: black;
        }
        
        #masthead {
            background-color: black;
        }
        
        .wide-nav {
            background-color: black;
        }
        
        .dark-header.wide-nav ul.header-nav a.nav-top-link {
            color: #fff;
        }
        
        ul.header-nav a.nav-top-link {
            color: #fff;
            opacity: 1;
        }
        
        ul.header-nav li.active a.nav-top-link {
            color: white;
            opacity: 0.66;
        }
        
        .wide-nav {
            box-shadow: none;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 5px;
        }
        
        a {
            color: black;
            text-decoration: none;
            line-height: inherit;
        }
        
        .tabbed-content.pos_pills ul.tabs li.active a {
            background-color: black;
        }
        
        .product-image .quick-view {
            background-color: black;
        }
        
        .widget_product_categories li a {
            font-size: 90%;
            padding: 8px 0;
            color: #777777;
            display: inline-block;
            text-transform: none;
        }
        
        .breadcrumb {
            text-transform: uppercase;
            font-size: 100%;
        }
        
        .widget_product_categories li a {
            font-size: 100%;
        }
        
        img.category_banner_image {
            margin-bottom: 30px;
        }
        
        hr {
            border: solid #FFF;
        }
        
        .large-3.hide-for-small.left.columns {
            background-color: #ffffff;
            box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
            margin-bottom: 5%;
            padding-top: 20px;
        }
        
        .product-small .name {
            font-size: 86%;
            font-style: italic;
        }
        
        .wide-nav .header-nav a.nav-top-link {
            padding-right: 11px;
        }
        
        .callout.style3 .inner {
            border-color: #83000B;
        }
        
        .callout.style3 .inner .inner-text {
            color: #83000B;
        }
        
        .callout.style3 {
            left: 10px;
            top: 10px;
        }
        
        .callout.style3.large {
            top: 5px;
            left: 0px;
        }
        
        .price .amount {
            font-size: 86%;
        }
        
        .wide-nav .header-nav a.nav-top-link {
            padding-right: 8px;
        }
        
        .absolute-footer.dark {
            margin-bottom: -1%;
        }
        
        .shortcode_tabgroup {
            margin-bottom: 0px;
        }
        
        hr {
            display: none;
            border: solid #FFF;
        }
        
        ul#shipping_method li {
            list-style: none;
            line-height: 120%;
            padding: 5px 0;
            color: black;
        }
        
        ul.payment_methods p {
            font-size: 90%;
            line-height: 110%;
            opacity: 1;
            color: black;
        }
        
        ul.header-nav li .nav-dropdown a {
            color: black;
        }
        
        .absolute-footer {
            padding: 15px 0 0 0 !important;
        }
        
        .copyright-footer {
            margin-top: 6%;
        }
        
        .term-description {
            box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.4);
            padding: 4px 0 1px 0;
            margin-right: 11px;
            margin-bottom: 20px;
        }
        
        .alignleft {
            min-height: 89px;
        }
        
        .term-description h2 {
            font-size: 16px;
            font-family: Tinos, helvetica, arial, sans-serif !important;
            font-weight: normal;
        }
        
        .term-description {
            width: 100% !important;
            padding: 5px;
            text-align: justify;
        }
        
        h3.section-title.title_center span:before {
            content: ' ';
            display: block;
            height: 0;
            border-bottom: 1.98px solid #EEE;
            width: 1000px;
            position: absolute;
            top: 50%;
        }
        
        h3.section-title.title_center span:after {
            content: ' ';
            display: block;
            height: 0;
            border-bottom: 1.98px solid #EEE;
            width: 1000px;
            position: absolute;
            top: 50%;
        }
        
        h3.section-title.title_center span {
            font-size: 15px;
            word-spacing: 1.5px;
        }
        
        .ux_banner-grid .columns>.column-inner {
            padding-left: 0px !important;
            padding-right: 2.5px;
        }
        
        .ux_banner-grid .columns {
            margin-bottom: 2.5px;
            margin-left: -0.1px;
        }
        
        .wide-nav.nav-center .nav-wrapper>#site-navigation li .fa.fa-male {
            text-align: center !important;
            margin-left: 10%;
            margin-right: -10%;
        }
        
        .wide-nav.nav-center .nav-wrapper>#site-navigation li .fa.fa-female {
            text-align: center !important;
            margin-left: 10%;
            margin-right: -10%;
        }
        
        i.fa.fa-angle-double-right {
            margin-right: 5%;
        }
        
        .term-description.brand-description {
            text-align: center;
            font-size: 14px;
            padding: 0 12px 2px 14px;
        }
        
        .term-description.brand-description .text {
            text-align: left;
        }
        
        i.fa.fa-first-order {
            margin-right: 2.5px;
        }
        
        i.fa.fa-diamond {
            margin-right: 2.5px;
        }
        
        .wide-nav .header-nav a.nav-top-link {
            padding-right: 15px;
            font: 400 14x 'times new roman';
            font-weight: 500 !important;
            height: 43px;
            white-space: nowrap; //line-height: 41px;}.pw-stick-light {background: black;color: white;border: 1px solid #e1e1e1;border-radius: 10px;}.pw-title {line-height: 50px;font-size: 12px;}.pw-stick {width: 50px;height: 50px;}.small-12.text-center.large-12.columns {padding: 0 1% 0 0.7%!important;}.tabbed-content.shortcode_tabgroup.pos_pills {/*border: 1px solid #dcdcdc;*/border-top: 3px solid #000;width: 100%;float: left;overflow: hidden;}.row.container.moi-nhat-home ul.tabs {height: 36px;text-align: center;border-bottom: 1px solid #dcdcdc;display: block;box-shadow: 0 2px 3px rgb(235, 235, 235);}.row.container.moi-nhat-home {margin-top: 20px;}.row.container.moi-nhat-home li.tab.active {margin-left: -5px;background: black!important;}.tabbed-content.pos_pills ul.tabs li a {border: 0;padding: 10px 10px;border-radius: 1px;font-size: 72%;margin: 0 7px 0 7px;}.tabbed-content.pos_pills ul.tabs li {margin-left: -5px;border-right: 1px solid rgba(0,0,0,0.1);}.tabbed-content ul.tabs li a {color: #505050;font-size: 80%;}.tabbed-content ul.tabs li a:hover {color: white;}.tabbed-content ul.tabs li:hover {background: black;}ul.tabs.wc-tabs li:hover {background: white;}ul.tabs.wc-tabs li a:hover {color: black;}.widget-title {text-transform: uppercase;font-size: 75%;}.wb-filter-style1 .wb-alphabet-table .wb-alphabet-item{ font-size:14px;}.wb-filter-item-cnt .wb-filter-item{ font-size:14px;}.wb-posted_in {font-size:12px;font-weight:500;text-align:center;font-family: Arial!important;}img.emoji {display: inline !important;border: none !important;box-shadow: none !important;height: 0.8em !important;width: 0.6em !important;margin: 2px 0.07em !important;vertical-align: -0.1em !important;background: none !important;padding: 0 !important;}.related-product h2{font-size:80%;}.product-info h4 a {color: #505050;font-size: 70%;text-transform: uppercase;}h1.entry-title {font-size: 22px;}.tm-extra-product-options-totals .amount.final {font-size: 17px;font-weight: bold;}.product-small .name {font-size: 100%;font-style: italic;}.ux-header-element a {color: white;opacity: .86;display: inline-block;margin-left: 7.5px;border: 2px solid #ccc;padding: 6px 8px !important;line-height: 11px;font-size: 12px !important;}.social-icons .icon {position: relative;padding: 0;width: 25px;height: 25px;line-height: 25px;text-align: center;font-size: 12px;border: 2px solid #cccccc;display: inline-block;margin: 0 5px 5px 0;color: #cccccc;border-radius: 99px;}.prdctfltr_buttons .button{margin: 0 0 0 7.25em;font-size: 11px;}input[type="checkbox"] {margin: 0 0 0.3em 0;}.prdctfltr_filter label {font-size: 86%;color:black;}.prdctfltr_count{ border: 1px solid #ccc; color: black; opacity: 1.5;}.widget h3.widget-title.shop-sidebar {border-bottom: 1px solid #ccc;color:black;font-size:88%;}.prdctfltr-widget .prdctfltr_wc .prdctfltr_woocommerce_ordering .prdctfltr_filter {margin-bottom:1px;} .prdctfltr-widget .prdctfltr_scroll_default.pf_default_select .prdctfltr_add_scroll .prdctfltr_checkboxes{padding-top:0px;margin-bottom: 8px;}h3.category-title-breadcrumb.breadcrumb{ color: black;}.breadcrumb a {color: black!important;font-weight: bold;}.breadcrumb-small h3.breadcrumb {font-size: 75%;}select{font-size: 100%;color: black;border: 1px solid #ccc;}p.woocommerce-result-count{ font-size:13px;}.breadcrumb-row {margin-bottom: 10px;}.breadcrumb span{color:black;}.product_list_widget li{ padding-bottom:50px;}.widget{margin-top:5px;}.prdctfltr_filter.prdctfltr_range.prdctfltr_price.pf_rngstyle_modern {margin-bottom: -10%;}.pf_rngstyle_modern .irs-from, .pf_rngstyle_modern .irs-to, .pf_rngstyle_modern .irs-single{background: #83000b;}.pf_rngstyle_modern .irs-from:after, .pf_rngstyle_modern .irs-to:after, .pf_rngstyle_modern .irs-single:after{border-top-color: #83000b;}table tr th, table tr td {padding: .5625em 0em;font-size: 13px;color: black;}.shop_attributes p {font-size:14px;color: #555;margin: 0;}.tabbed-content ul.tabs li.active a{border-color: black;color: black;}ul.product_list_widget {font-size: 13px!important;}label {font-size: 13px;}table tbody tr td, table tr td{ padding-left:11px;}.shop_attributes th {border-right: 1px solid #ccc;width: 100px;padding-right: 15px;padding-left: 10px;}.shop_attributes{border: 1px solid #ccc;}.shop_attributes tr{ border-bottom:1px solid #ccc;}.product-details {border-top: 1px solid #ccc;}.large-3.hide-for-small.left.columns {background-color: #ffffff;margin-bottom: 5%;padding-top: 20px;border: 1px solid #e3e3e3; box-shadow:none;}.product-small.grid-boxed .inner-wrap {background-color: #ffffff;border: 1px solid #e3e3e3!important; box-shadow:none;}span.prdctfltr_widget_title{ margin-bottom: 2px;}strong.cart-name{ color: white; opacity: .86;}li.mini-cart .cart-icon .cart-icon-handle{ border-color: white;}.cart-icon .cart-icon-handle {border: 2px solid #fff;}li.mini-cart .cart-icon strong{ border-color:#fff; color:#fff;} span.cart-price {color: white;opacity: 1;}.active span.cart-price {color: white;opacity: 1;}.product-small p.name{ font-size:115%; color:black;}.text-center p.name {font-size: 14px!important;}p{ font-family: Tinos,helvetica,arial,sans-serif!important;}.tabbed-content .panel.active {font-size: 14px;}.product_meta.wb-posted_in {text-align:left!important;}.active strong.cart-name {color: white;opacity: 1;}.eb-scrollbarcnt .scrollbar, .eb-scrollbarcnt-short .scrollbar{ z-index:1;}#logo a{color:white;}.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {color: #ffffff;}.dark .tx-div {background-color: #ffffff;opacity: .3;}.widget_nav_menu ul li a {border-color: rgba(255,255,255,0.2);color: #fff! important;font-size:13.5px;font-family:Tinos;}.widget_nav_menu ul li.current-menu-item a{ border-color: rgba(255,255,255,0.2);color: #fff! important;}.widget_nav_menu ul li.current-menu-item a {border-right: 0;}.tx-div{background-color: white;}.footer-payment-methods__list.footer-payment-methods__icon {float: left;margin: 0 25px 10px 0;}.icon-payment_ipayVisa {background-image: url(https://theperfume.vn/wp-content/uploads/2016/09/icons-fd035e245c.png);background-position: -101px -412px;width: 53px;height: 39px;}.icon-payment_ipayMaster {background-image: url(https://theperfume.vn/wp-content/uploads/2016/09/icons-fd035e245c.png);background-position: -378px -371px;width: 53px;height: 39px;}.icon-payment_ipayCOD {background-image: url(https://theperfume.vn/wp-content/uploads/2016/09/icons-fd035e245c.png);background-position: -270px -371px;width: 53px;height: 39px;}.icon-payment_smartlink {background-image: url(https://theperfume.vn/wp-content/uploads/2016/09/icons-fd035e245c.png);background-position: -489px -160px;width: 53px;height: 39px;}.icon-payment_VN123Pay { background-image: url(https://theperfume.vn/wp-content/uploads/2016/09/icons-fd035e245c.png);background-position: -95px -268px;width: 268px;height: 39px;margin-top: 7px;}.icon{ vertical-align: text-top;display: inline-flex;}span.transport {width: 240px;height: 55px;margin-right: 0;cursor: default;display: inline-block;background: url('https://theperfume.vn/wp-content/uploads/2016/09/ic-sprites.png') 0 -240px no-repeat;}.footer.footer-1.light h3.widget-title {color: white!important;}.footer-2{margin-top:-50px;margin-bottom:-20px;}.footer-1 .widget {margin-bottom: 0px;}div#text-3 {text-align: center;border: 1px solid #e5e5e5;border-radius: 15px;position: relative;z-index: 10;padding-bottom: 1.5%;}div#text-3 .tx-div.small {width: 100%;}.tu-van-footer p{ font-size:14px;}.footer.footer-2.dark h3.widget-title {margin-top: 10px;margin-bottom: -5px;}.img-1 {max-width: 96%;}.bct{ text-align:center;}.inner.center.text-center h1 {font-weight: bolder;font-size: 150%!important;line-height: 200%;margin: 15px 0;}h1.h-large {font-size: 200%;line-height: 85%;padding: 0 !important;}.inner.left.center.text-left h1 {font-weight: bolder;font-size: 150%!important;line-height: 200%;margin: 15px 0;}.inner.right.center.text-center h2 {font-size: 168%;line-height: 100%;margin: 15px 0;}.inner.left.center.text-center h3 {font-size: 168%;line-height: 100%;margin: 15px 0;}.inner.center.text-center h2 {font-weight: bolder;font-size: 150%!important;line-height: 200%;margin: 15px 0;}h3.alt-font {font-size: 23px;}.column-3-home-1 h1.animated.fadeInLeft.uppercase.start-anim{color: black;border: 2px solid white;background: white; opacity:.8!important;}.row.container.brand-slide {margin-top: -30px;border:1px solid #cccccc;}.flickity-viewport {margin-bottom: -1%;}.ux_logo a {display: block;opacity: .8;}ins {text-decoration: none!important;}.product-small p.category a {color: #83000b;font-size: 11px;}wide-nav.stuck {opacity: 1;}.custom-cart-count{ background-color: #686868;}.img-logo {margin-bottom: 8.2%;}.price {/*display: none;*/}.tc-extra-product-options .tmcp-field-wrap .price.tc-price {margin-top: 11px;margin-left: 10px;}dt.tm-options-totals{ display:none;}dl.tm-extra-product-options-totals.tm-custom-price-totals {display: none;}.variations label{font-size: 110%;font-weight: bolder;margin: 0;}p {font-weight: normal;font-size: 16px;line-height: 26px;margin-bottom: 16px;text-rendering: optimizeLegibility;}.tabbed-content ul.tabs li a {color: #505050;font-size: 86%;}div#tab-ux_global_tab {font-weight: normal;font-size: 16px!important;line-height: 23px;margin-bottom: 16px;text-rendering: optimizeLegibility;}.widget li a {font-size: 15px;line-height: 22px;}.product_list_widget span.amount {display: inline-block;font-weight: bold;color: #000000;margin-top: 3px;font-size: 14px;}.product_list_widget li {border-bottom: 1px solid #EEE;padding: 10px 0 10px 75px;position: relative;overflow: hidden;width: 100%;}.price .amount {font-size: 120%;}.sticky-contact-container {/*background-color: #333;*/padding: 0px;margin: 0px;position: fixed;right: -119px;top: 230px;width: 200px;z-index: 999999;}.sticky-contact li {list-style-type: none;background-color: #f1f1f1;color: #efefef;height: 42px;padding: 0px;margin: 0px 0px 1px 0px;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;cursor: pointer;margin-left: 0px;}.sticky-contact li a {color: #efefef;text-decoration: underline;font-size: 10px;}.sticky-contact li:hover {margin-left: -115px;/*-webkit-transform: translateX(-115px);-moz-transform: translateX(-115px);-o-transform: translateX(-115px);-ms-transform: translateX(-115px);transform:translateX(-115px);*/color: #333;}.sticky-contact li:hover a {color: #333;}.sticky-contact li img {float: left;margin: 5px 5px;margin-right: 10px;width: 32px;height: 32px;}.sticky-contact li p {padding: 0px;margin: 0px;text-transform: uppercase;line-height: 42px;font-size: 10px;font-weight: 700;}.sticky-contact-container .hidden-lg { display:none;}#billing_company_field, #billing_country_field, #billing_postcode_field {display:none;}button#yith-searchsubmit {font-size: 14px!important;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}.search-wrapper {margin-left:20px!important;}.yith-search-premium input.yith-s {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}input[name="update_cart"].expand {display:none;}.social-icons.size-normal {display:none;}.woocommerce-mini-cart__buttons a {color: #fff}/* Custom CSS Mobile */@media (max-width: 549px){.large-block-grid-4 > li{width: 49%;}.row.container.moi-nhat-home {margin-right: auto!important;max-width: 100%;padding: 0 10px 0 10px;}#masthead .mobile-menu a{color: #83000b;}.inner.left.center.text-left h1 {font-weight: bolder;font-size: 150%!important;line-height: 160%;margin: 15px 0;}.inner.center.text-center h1 {font-weight: bolder;font-size: 150%!important;line-height: 95%;margin: 15px 0;}:hov.clselement.style {}.prdctfltr-widget .prdctfltr_wc .prdctfltr_woocommerce_filter_submit {margin-bottom: 20px;}.prdctfltr_buttons .button {margin: 0 0 0 5.25em;font-size: 11px;}.custom-cart-icon {bottom: -18px;}.callus {background: #e72f8b;display: block!important;position: fixed;bottom: 14%;height: 40px;line-height: 43px;padding: 0 0px 0 0px;padding: 0px 8px 0 13px;border-radius: 999px;color: #fff;left: 2.5%;z-index: 99999;}.callus .icon-phone { }sticky-contact-container {padding: 0px;margin: 0px;position: fixed;right: -152px;top: 70%;width: 200px;z-index: 99999;}.sticky-contact li{background-color: transparent;}.sticky-contact li:hover {margin-left: -156px;background: #f1f1f1;}.sticky-contact-container .hidden-lg { display:block;}.small-nav-collapse>li {width: auto;padding: 0 5px;}}.label-new.menu-item > a:after{content:"New";}.label-hot.menu-item > a:after{content:"Hot";}.label-sale.menu-item > a:after{content:"Sale";}.label-popular.menu-item > a:after{content:"Popular";}
            </style>