@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 1000px;
    background-image:url("../assets/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 400px;
    height: 590px;
    display: flex;
    flex-direction:column ;
    background:rgba(3,3,3,0.5) ;
    backdrop-filter: blur(53px);
}

form h2{
    text-align: center;
    margin-bottom: 67px;
    margin-top: 97px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
}

form #username, form #password{
    height: 51px;width: 311px;
    margin: 0px auto;
    background: transparent;
    border: 1px solid #fff8f8;
    padding-left: 23px;
    color: #fff;
    margin-bottom: 20px;
}

form .username_error, form .password_error{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    color: red;
    font-size: 16px;
    color: #ff127c;
    /* display: none; */

}
/* input[type="submit"], */
form .submit{
    width: 214px;
    height: 45px;
    margin: 0px auto;
    margin-top: 90px;
    background:#e82d2d ;
    color: #fff;
    font-weight: bold;
}


